.about {
    padding-top: 0;
    
    @media screen and (max-width: 1200px) {
      display: none;
    }
}
  
.about__list {
    display: flex;
    margin-top: 50px;

    & .about__item:not(:last-child) {
      margin-right: 30px;
    }
}
  

  
.about__item {
    position: relative;
  }
  
.about__text {

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--additional-text-color);
    background-color: #2f303acc;
  
    width: 100%;
    height: 70px;
  
    position: absolute;
    bottom: 0;
  }


  