.advantage{
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}


.advantage__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
  }
  }
  
.advantage__card {
    width: 270px;

    @media screen and (min-width: 480px) and (max-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }

&:not(:last-child) {
    margin-right: 30px;
  }

}
  
.advantage__img {
    display: flex;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 25px 0;
  }
  
.advantage__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }

}
  
.advantage__card-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
  }

