.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter__buttons {
    display: flex;
    display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) and(max-width: 1200px) {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 34px;
    justify-content: center;
  }
  }
  
.filter__button:not(:last-child) {
    margin-right: 8px;
  }
  
.filter__btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
  
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
  
    border: 0px;
    border-radius: 4px;
    color: var(--primary-text-color);
    background-color: var(--background-filter-color);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 15px;
    }
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent-color);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  
  }

  
.filter__list {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  }
.filter__card {
    border: 1px solid #eeeeee;
    background: #ffffff;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
    
  }
  
.filter__card-img {
    position: relative;
    overflow: hidden;
  }
  
.filter__card--overlay {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
  
    background-color: #2196f3e5;
    
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.filter__card--hover {
    position: absolute;
    top: 63px;
    left: 24px;
    right: 24px;
    bottom: 63px;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;
    color: var(--additional-text-color);
    
  @media screen and (max-width: 479px) {
    font-size: 15px;
    top: 24px;
    right: 24px;
    left: 24px;
    bottom: 24px;
  }
  }
  
.filter__card-fill {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
 }


.filter__card-link{
    display: flex;
    flex-direction: column;
}



.filter__card-link:hover .filter__card--overlay,
.filter__card-link:focus .filter__card--overlay {
    transform: translateY(-100%);
  }

.filter__card-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  
.filter__card-text {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }

