.header {
    border-bottom: 1px solid #ececec;

    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;
    top: 0;
    left: 0;

    @media screen and (min-width:768px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @media screen and (min-width:768px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****************************************************/

/* HEADER LOGO */

.header__logo {
  color: var(--primary-text-color);
  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.header__extra-color {
  color: var(--accent-color);
}

/****************************************************/

/* MENU BURGER */

.burger-btn{
  background-color: transparent;
  padding: 0;
  line-height: 0;

  border:none;

  cursor: pointer;

  @media screen and (min-width:768px) {
    display: none;
  }
}

.burger-icon{
  width: 40px;
  height: 40px;

}

/****************************************************/


/* MODAL BURGER */

.mobile-menu{
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;

  padding: 48px 40px;

  width: 100vw;
  height: 100vh;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu__link {
  display: block;
  color: var(--primary-text-color);

  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__link.current {
  color: var(--accent-color);
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
}

.mobile-menu__contact-list {
  flex-direction: column;
  margin-bottom: 64px;
}

.mobile-menu__contact-item-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  margin-bottom: 32px;
}

.mobile-menu__contact-link-tel {
  color: var(--accent-color);
  @media screen and (max-width: 479px) {
    font-size: 8vw;
  }
}

.mobile-menu__contact-item-mail {
  color: var(--secondary-text-color);
}

.mobile-menu__contact-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
  @media screen and (max-width: 479px) {
    font-size: 4vw;
  }
}

.mobile-menu__social-link {
  color: var(--accent-color);
  &:hover,
  &:focus {
    color: var(--secondary-accent-color);
  }
}

.close-btn{
  background-color: transparent;
  padding: 0;
  line-height: 0;

  width: 19px;
  height: 19px;

  position: absolute;
  top:10px;
  right:15px;

  border:none;

  cursor: pointer;
}

.close-btn-icon{
  width: 19px;
  height: 19px;
}




/****************************************************/

/* HEADER LIST */

.header__menu-list{
  display: flex;

  @media screen and (max-width:767px) {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__menu-list {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width:767px) {
    display: none;
    
  }
}

.header__menu-list .menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__menu-list .link {
  display: block;
  
  

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__menu-list .link:hover {
  color: var(--accent-color);
}

.header__menu-list .link:focus {
  color: var(--accent-color);
}

.header__menu-list .link.current {
  color: var(--accent-color);
}

.menu-list__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);

  position: absolute;

  top: 280%;
  left: 0;
}




/****************************************************/


/* INFO LIST */


.header__info-list {
  margin-left: auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.info-list__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}


.info-list__link{
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.info-list__link:hover,
.info-list__link:focus {
  color: var(--accent-color);
  
}

.info-list__icon {
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.info-list__link:hover .info-list__icon,
.info-list__link:focus .info-list__icon {
  fill: var(--accent-color);
}

/****************************************************/
  




  
